*::after,
::before {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  letter-spacing: 0.03em;
  color: #2F303A;
  margin: 0;
}

ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section__title {
  font-weight: 700;
  text-align: center;
  color: #2F303A;
}
@media screen and (max-width: 1199px) {
  .section__title {
    font-size: 28px;
    line-height: 1.1717857143;
    padding-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .section__title {
    font-size: 36px;
    line-height: 1.1666666667;
    padding-bottom: 50px;
  }
}

.is-hidden {
  pointer-events: none;
  opacity: 0%;
}

.features__title--hide {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.backdrop--hidden {
  pointer-events: none;
  opacity: 0%;
}

.backdrop {
  width: 100%;
  height: 100%;
  background-color: var(--backdrop);
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hero__button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  text-align: center;
  letter-spacing: 0.06em;
  color: white;
  background-color: #2196F3;
  cursor: pointer;
  display: block;
  align-items: center;
  border-radius: 4px;
  padding: 10px 20px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: var(--button-transition);
}
.hero__button:hover, .hero__button:focus {
  background-color: darkblue;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscription__button {
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--secondary-title-color);
  background-color: var(--link-color);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  border-radius: 4px;
  padding: 10px 20px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: var(--button-transition);
}
.subscription__button:hover, .subscription__button:focus {
  background-color: darkblue;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.button-item:not(:last-child) {
  margin-right: 8px;
}

.portfolio-filter {
  font-family: "Roboto", sans-serif;
  color: #212121;
  cursor: pointer;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  display: block;
  border-radius: 4px;
  padding: 6px 26px;
  background-color: #F5F4FA;
}
.portfolio-filter:hover, .portfolio-filter:focus {
  color: white;
  background-color: #2196F3;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.modal__button--close {
  color: #000000;
  background-color: transparent;
  float: right;
  width: 30px;
  height: 30px;
  font-weight: bold;
  border: 1px solid;
  border-color: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  margin-top: 8px;
  margin-right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: var(--button-transition);
}
.modal__button--close:hover, .modal__button--close:focus {
  color: #2196F3;
  text-decoration: none;
  cursor: pointer;
}

.form__button--send {
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--secondary-title-color);
  background-color: var(--link-color);
  display: block;
  align-items: center;
  cursor: pointer;
  margin: 0 auto;
  border-radius: 4px;
  padding: 10px 80px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__button--send:hover, .form__button--send:focus {
  background-color: darkblue;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.header__logo {
  color: #2196F3;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  margin-right: 100px;
}
@media screen and (max-width: 1199px) {
  .header__logo {
    font-size: 24px;
    line-height: 1.1741666667;
  }
}
@media screen and (min-width: 1200px) {
  .header__logo {
    font-size: 26px;
    line-height: 1.1923076923;
  }
}

.footer__logo {
  color: #2196F3;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1923076923;
  margin-bottom: 9px;
  display: block;
}

@media screen and (max-width: 767px) {
  .navigation__list {
    display: none;
  }
  .contact__list {
    display: none;
  }
  .open-btn {
    margin-left: auto;
    border: none;
    background-color: transparent;
  }
  .open-btn:hover, .open-btn:focus {
    color: #2196F3;
  }
}
@media screen and (min-width: 768px) {
  .open-btn {
    display: none;
  }
}
.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 32px;
  background-color: #fff;
  z-index: 999;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
}

.js-close-menu {
  color: #212121;
  background-color: transparent;
  float: right;
  width: 18.67px;
  height: 18.67px;
  font-weight: bold;
  border: none;
}

.link {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 40px;
  color: #212121;
  text-decoration: none;
  line-height: 1.172;
  margin-bottom: 32px;
}
.link:hover, .link:focus {
  color: #2196F3;
}

.mobile-menu__contacts {
  margin-top: 274px;
}

.contacts__item {
  margin-bottom: 32px;
}

.contacts__phone {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 34px;
  color: #2196F3;
  text-decoration: none;
  line-height: 1.1717647059;
}

.contacts__email {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 24px;
  color: #757575;
  text-decoration: none;
  line-height: 1.1720833333;
}

.mobile-menu__social {
  display: flex;
  margin-bottom: 48px;
}

.social__item:not(:last-child) {
  margin-right: 10px;
  border-right: rgba(33, 33, 33, 0.2);
}

.social__link {
  color: #2196F3;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2222222222;
}
@media (min-width: 320px) and (max-width: 479px) {
  .social__link {
    font-size: 15px;
    line-height: 1.2666666667;
  }
}

.vertical-line {
  display: inline-block;
  border-left: 1px solid rgba(33, 33, 33, 0.2);
  margin: 0 5px;
  height: 20px;
}

.hero__section {
  background-color: #2F303A;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/img17hero.jpg");
  padding-top: 200px;
  padding-bottom: 200px;
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero__container {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.hero__title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  color: white;
  margin-bottom: 30px;
}
@media screen and (min-width: 480px) {
  .hero__title {
    padding-right: 15px;
    padding-left: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.3636363636;
  }
}

.hero__button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  text-align: center;
  letter-spacing: 0.06em;
  color: white;
  background-color: #2196F3;
  cursor: pointer;
  display: block;
  align-items: center;
  border-radius: 4px;
  padding: 10px 20px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: var(--button-transition);
}
.hero__button:hover, .hero__button:focus {
  background-color: darkblue;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media screen and (min-width: 320px) and (max-width: 479px) {
  .modal {
    width: 315px;
  }
}
@media screen and (min-width: 480px) and (max-width: 1199px) {
  .modal {
    height: 609px;
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    height: 581px;
    width: 528px;
  }
}

.modal__button--close {
  color: #000000;
  background-color: transparent;
  float: right;
  width: 30px;
  height: 30px;
  font-weight: bold;
  border: 1px solid;
  border-color: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  margin-top: 8px;
  margin-right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: rgba(0, 0, 0, 0.2) 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__button--close:hover, .modal__button--close:focus {
  color: #2196F3;
  text-decoration: none;
  cursor: pointer;
}

.modal__icon {
  fill: currentColor;
}

.is-hidden {
  pointer-events: none;
  opacity: 0%;
}

.backdrop {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form__title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.172;
  text-align: center;
  margin-bottom: 12px;
}
@media screen and (min-width: 320px) and (max-width: 479px) {
  .form__title {
    font-size: 15px;
  }
}

.form {
  padding: 40px;
}

.field__wrapper {
  margin-bottom: 10px;
}

.form__label {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 5px;
}

.input__wrapper {
  display: block;
  position: relative;
}

.input {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: rgba 117, 117, 117, 0.5;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
  padding: 12px 16px 12px 42px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input:focus {
  border-color: #2196F3;
  color: #2196F3;
  outline: none;
}

.input__icon {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input:focus ~ .input__icon {
  fill: #2196F3;
}

textarea {
  resize: none;
  padding: 12px 16px;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
}
textarea:focus {
  border-color: #2196F3;
  color: #2196F3;
  outline: none;
}

.checkbox__label {
  display: flex;
  cursor: pointer;
}

.modal__checkbox {
  color: white;
  width: 15px;
  height: 15px;
  border: 1px solid #212121;
  border-radius: 2px;
  margin-right: 8px;
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.checkbox:checked + .checkbox__label > .modal__checkbox {
  background-color: #2196F3;
  border: none;
}

.form__button--send {
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: white;
  background-color: #2196F3;
  display: block;
  align-items: center;
  cursor: pointer;
  margin: 0 auto;
  border-radius: 4px;
  padding: 10px 80px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__button--send:hover, .form__button--send:focus {
  background-color: darkblue;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* DO */
.do {
  padding-top: 0;
  padding-bottom: 94px;
}
@media (max-width: 1199px) {
  .do {
    display: none;
  }
}

.section__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1666666667;
  text-align: center;
  color: #2F303A;
  padding-bottom: 50px;
}

.do__list {
  display: flex;
}

.do__item:not(:last-child) {
  margin-right: 30px;
}

.do__item {
  position: relative;
}

.do__text {
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1721428571;
}

.features__title--hide {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@media screen and (max-width: 1199px) {
  .features__section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .features__section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

@media screen and (min-width: 768px) {
  .features__list {
    display: flex;
    flex-wrap: wrap;
  }
}

.features__item {
  margin-bottom: 30px;
}
.features__item:nth-child(4n) {
  margin-bottom: 0;
}
@media screen and (min-width: 768px) {
  .features__item {
    width: 354px;
  }
  .features__item:nth-child(odd) {
    margin-right: 30px;
  }
  .features__item:nth-child(3n) {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .features__item {
    width: 270px;
    margin-right: 30px;
    margin-bottom: 0;
  }
  .features__item:nth-child(4n) {
    margin-right: 0;
  }
}

.icon__moderation {
  display: flex;
  justify-content: center;
  padding: 25px 0px;
  background-color: #F5F4FA;
  margin-bottom: 30px;
  border-radius: 4px;
}

.features__subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  text-transform: uppercase;
  color: #2F303A;
  padding-bottom: 10px;
}
@media screen and (max-width: 767px) {
  .features__subtitle {
    text-align: center;
  }
}

.features__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7142857143;
  color: #757575;
}

/* TEAM */
.team {
  background-color: #F5F4FA;
}
@media screen and (max-width: 1199px) {
  .team {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

@media screen and (min-width: 768px) {
  .team__list {
    display: flex;
    flex-wrap: wrap;
  }
}

.team__item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin-bottom: 30px;
}
.team__item:nth-child(4n) {
  margin-bottom: 0;
}
@media screen and (min-width: 768px) {
  .team__item {
    width: 354px;
  }
  .team__item:nth-child(odd) {
    margin-right: 30px;
  }
  .team__item:nth-child(3n) {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .team__item {
    width: 270px;
    margin-right: 30px;
    margin-bottom: 0;
  }
  .team__item:nth-child(4n) {
    margin-right: 0;
  }
}

.team__description {
  background-color: white;
  padding-top: 30px;
}

.team__subtitle {
  font-size: 16px;
  line-height: 1.1875;
  text-align: center;
  color: #2F303A;
  margin-bottom: 10px;
}

.team__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.1875;
  text-align: center;
  color: #757575;
  margin-bottom: 16px;
}

.socials__list {
  list-style: none;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 1199px) {
  .socials__item {
    padding-bottom: 24px;
  }
}
@media screen and (min-width: 1200px) {
  .socials__item {
    padding-bottom: 30px;
  }
}

.socials__item:not(:last-child) {
  margin-right: 10px;
}

.socials__link {
  width: 44px;
  height: 44px;
  background-color: white;
  color: #AFB1B8;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.socials__link:hover, .socials__link:focus {
  color: white;
  background-color: #2196F3;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials__icon {
  fill: currentColor;
}

/* REGULAR CUSTOMERS */
@media screen and (max-width: 1199px) {
  .customers {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .customers {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.customers__list {
  display: flex;
  flex-wrap: wrap;
}
@media screen and (max-width: 480px) {
  .customers__list {
    width: auto;
    justify-content: space-between;
  }
}

.customers__item {
  margin-right: 30px;
  margin-bottom: 30px;
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .customers__item {
    width: 210px;
  }
  .customers__item:nth-child(2n) {
    margin-right: 0px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .customers__item {
    width: 226px;
  }
  .customers__item:nth-child(3n) {
    margin-right: 0px;
  }
}
@media screen and (min-width: 1200px) {
  .customers__item {
    width: 170px;
    margin-right: 30px;
    margin-bottom: 0;
  }
  .customers__item:nth-child(6n) {
    margin-right: 0;
  }
}

.customer__link {
  color: #AFB1B8;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 92px;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  /*@media screen and (max-width: 767px) {
       width: 210px;
   }

   @media screen and (min-width: 768px) {
       width: 226px;
   }

   @media screen and (min-width: 1200px) {
       width: 170px;
   }*/
}
.customer__link:hover, .customer__link:focus {
  color: #2196F3;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customer__icon {
  fill: currentColor;
}

.footer__section {
  background-color: #2F303A;
  padding: 60px 0;
}

.footer__container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
@media screen and (max-width: 480px) {
  .footer__container {
    justify-content: center;
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .footer__container {
    width: 480px;
    flex-direction: column;
    justify-content: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__container {
    width: 768px;
    text-align: center;
  }
}
@media (min-width: 1200px) {
  .footer__container {
    width: 1200px;
    text-align: left;
    justify-content: center;
  }
}

.footer__container--left {
  display: block;
  margin-bottom: 60px;
}
@media screen and (min-width: 480px) {
  .footer__container--left {
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 1200px) {
  .footer__container--left {
    margin-right: 70px;
  }
}

.footer__container--middle {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

.footer__logo {
  color: #2196F3;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  margin-bottom: 9px;
  display: block;
}
@media screen and (max-width: 1199px) {
  .footer__logo {
    font-size: 24px;
    line-height: 1.1741666667;
  }
}
@media screen and (min-width: 1200px) {
  .footer__logo {
    font-size: 26px;
    line-height: 1.1923076923;
  }
}

.footer__addres {
  font-style: normal;
}

.footer__addres--location {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7142857143;
  color: white;
  margin-bottom: 2px;
}

.footer__item:not(:last-child) {
  margin-bottom: 2px;
}

.footer__contacts {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7142857143;
  color: white;
  opacity: 0.6;
}

.media__title {
  color: white;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1721428571;
  margin-bottom: 20px;
}

.media__list {
  display: flex;
  justify-content: center;
}

.media__link {
  width: 44px;
  height: 44px;
  color: white;
  background-color: #757575;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.media__link:hover, .media__link:focus {
  color: white;
  background-color: #2196F3;
}

.media__icon {
  fill: currentColor;
}

.media__item:not(:last-child) {
  margin-right: 10px;
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .footer__container--right {
    display: flex;
    flex-direction: column;
  }
}

.footer__form {
  display: flex;
}
@media screen and (max-width: 1199px) {
  .footer__form {
    flex-direction: column;
    align-items: center;
  }
}

.subscription__title {
  color: white;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1721428571;
  margin-bottom: 20px;
}
@media screen and (max-width: 767px) {
  .subscription__title {
    margin-top: 60px;
    text-align: center;
  }
}

.subscription__input {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 15px 16px;
  margin-right: 12px;
  background-color: transparent;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 320px) and (max-width: 479px) {
  .subscription__input {
    width: 315px;
    margin: auto;
  }
}

.subscription__input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.subscription__input:hover,
.subscription__input:focus {
  outline: none;
  color: white;
  background-color: transparent;
}

.subscription__button {
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: white;
  background-color: #2196F3;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  padding: 10px 20px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: rgba(0, 0, 0, 0.2) 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.subscription__button:hover, .subscription__button:focus {
  background-color: darkblue;
}
@media screen and (max-width: 1199px) {
  .subscription__button {
    margin-top: 20px;
  }
}

.subscription__icon {
  margin-left: 30px;
  margin-top: 13px;
  margin-right: 8px;
  fill: currentColor;
}

@media screen and (max-width: 1199px) {
  .portfolio-section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio-section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.button-list {
  display: flex;
}
@media screen and (max-width: 767px) {
  .button-list {
    flex-wrap: wrap;
    justify-content: flex-start;
    /* margin-top: 15px;*/
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .button-list {
    margin-bottom: 30px;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .button-list {
    margin-bottom: 50px;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 767px) {
  .button-item {
    margin-right: 8px;
    margin-top: 15px;
    /* &:nth-child(4n) {
         margin-left: 15px;*/
  }
}

@media screen and (min-width: 768px) {
  .button-item:not(:last-child) {
    margin-right: 8px;
  }
}
.portfolio-filter {
  font-family: "Roboto", sans-serif;
  color: #212121;
  cursor: pointer;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  display: block;
  border-radius: 4px;
  padding: 6px 26px;
  background-color: #F5F4FA;
}

.portfolio-filter:hover,
.portfolio-filter:focus {
  color: white;
  background-color: #2196F3;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* PORTFOLIO PROJECTS SECTION */
@media screen and (min-width: 768px) {
  .portfolio-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
  }
}

.portfolio-item {
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 767px) {
  .portfolio-item:not(:first-child) {
    margin-top: 30px;
  }
}
@media screen and (min-width: 768px) {
  .portfolio-item {
    flex-basis: calc(50% - 30px);
    margin-left: 30px;
    margin-top: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio-item {
    flex-basis: calc(33.3333333333% - 30px);
  }
}

.portfolio-image {
  display: block;
  max-width: 100%;
  height: auto;
}

.portfolio-item:hover .overlay-text,
.portfolio-item:focus .overlay-text {
  transform: translateY(0);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.overlay {
  position: relative;
  overflow: hidden;
}

.overlay-text {
  font-family: "Roboto", sans-serif;
  color: white;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5555555556;
  position: absolute;
  display: block;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.card-content {
  padding: 20px 24px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  flex-grow: 1;
}

.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #2F303A;
}

.portfolio-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  color: #757575;
  margin-top: 4px;
}

.header__section {
  border-bottom: 1px solid #ECECEC;
}

.header__container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 480px) {
  .header__container {
    width: auto;
    height: 60px;
  }
}
@media screen and (min-width: 480px) {
  .header__container {
    width: 480px;
    height: 60px;
    justify-content: space-between;
  }
}
@media screen and (min-width: 768px) {
  .header__container {
    width: 768px;
    height: 80px;
  }
}
@media (min-width: 1200px) {
  .header__container {
    width: 1200px;
    height: 80px;
  }
}

.navigation__list {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .navigation__list {
    display: none;
  }
}

.navigation__item:not(:last-child) {
  margin-right: 50px;
}

.navigation__link {
  color: #2F303A;
  font-size: 14px;
  letter-spacing: 0.02em;
  line-height: 1.1428571429;
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation__link:hover, .navigation__link:focus {
  color: #2196F3;
}

.contact__list {
  display: flex;
  align-items: center;
  margin-left: auto;
}
@media screen and (max-width: 767px) {
  .contact__list {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contact__list {
    flex-direction: column;
    align-items: flex-start;
  }
}

@media screen and (min-width: 1200px) {
  .contact__item:not(:last-child) {
    margin-right: 50px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contact__phone {
    padding-top: 10px;
  }
}
.navigation__link--current {
  color: #2196F3;
}

.navigation__link--current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  display: block;
  width: 100%;
  height: 5px;
  border-radius: 2px;
  background-color: #2196F3;
  transform: scaleX(1);
}

.contact__link {
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.02em;
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
}
.contact__link:hover, .contact__link:focus {
  color: #2196F3;
  font-weight: 500;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contact__link {
    padding: 5px 0;
  }
}
.contact__icon {
  margin-right: 10px;
  fill: currentColor;
}/*# sourceMappingURL=main.css.map */