@use'../utils/variables';

/* TEAM */
.team {
    background-color: #F5F4FA;
    padding-top: 94px;
    padding-bottom: 94px;
}

.team__list {
    display: flex;
    justify-content: center;
    @media (max-width:480px) {
            flex-direction: column;
            justify-content: center;
        }
    
        @media (max-width:768px) {
            flex-wrap: wrap;
            flex-basis: calc(100%/ 2);
        }

}

.team__item {
    width: 270px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team__item:not(:last-child) {
    margin-right: 30px;
}

.team__description {
    background-color: #ffff;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}


.team__subtitle {
    font-size: 16px;
    line-height: calc(19/16);
    text-align: center;
    color: variables.$main-text-color;
    margin-bottom: 10px;
}

.team__text {
    font-weight: 400;
    font-size: 16px;
    line-height: calc(19/16);
    text-align: center;
    color: variables.$secondary-text-color;
    margin-bottom: 16px;
}

.socials__list {
    list-style: none;
    display: flex;
    justify-content: center;
}

.socials__item:not(:last-child) {
    margin-right: 10px;
}

.socials__link {
    width: 44px;
    height: 44px;
    background-color: white;
    color: #AFB1B8;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;

    &:hover,
    &:focus {
            color: #ffff;
            background-color: variables.$accent-color;
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
}

.socials__icon {
    fill: currentColor;
}

@media  (max-width:480px) {
    .team__list {
        flex-direction: column;
    }
}