@use'../utils/variables';

.header__logo {
    color: variables.$accent-color;
    text-decoration: none;
    font-family: variables.$logo-text;
    font-weight: 700;
    margin-right: 100px;
  
    @media screen and (max-width: 1199px) {
        font-size: 24px;
        line-height: calc(28.18/24);
        }
    @media screen and (min-width: 1200px) {
        font-size: 26px;
        line-height: calc(31/26);
        
        }
}
.footer__logo {
    color: variables.$accent-color;
    text-decoration: none;
    font-family: variables.$logo-text;
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31/26);
    margin-bottom: 9px;
    display: block;
}