@use'../utils/variables';
@media screen and (max-width:767px) {
    .navigation__list {
        display: none;
    }

    .contact__list {
        display: none;
    }
    .open-btn {
        margin-left: auto;
      border: none; 
      background-color: transparent; 
     &:hover,
        &:focus {
            color: variables.$link-color;
        }
    }
}

@media screen and (min-width:768px) {
    .open-btn {
        display: none;
    }
}
 
.menu-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 32px;
    background-color: #fff;
    z-index: 999;
    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
   
}

.menu-container.is-open {
    transform: translateX(0);
}
.js-close-menu{
    color: #212121;
        background-color: transparent;
        float: right;
        width: 18.67px;
        height: 18.67px;
        font-weight: bold;
    border: none;
}

.link {
    font-family: variables.$main-text;
        font-weight: 500;
        font-size: 40px;
        color: #212121;
        text-decoration: none;
        line-height: calc(46.88/40);
    margin-bottom: 32px;
        &:hover,
        &:focus {
            color: variables.$link-color;
        }
    }


  .mobile-menu__contacts {
      margin-top: 274px;

  }


.contacts__item {
margin-bottom: 32px;
}
.contacts__phone {
    font-family: variables.$main-text;
        font-weight: 500;
        font-size: 34px;
        color: variables.$link-color;
        text-decoration: none;
        line-height: calc(39.84/34); 
}
.contacts__email {
    font-family: variables.$main-text;
        font-weight: 500;
        font-size: 24px;
        color: variables.$secondary-text-color;
        text-decoration: none;
        line-height: calc(28.13/24);
      
}
.mobile-menu__social {
    display: flex;
margin-bottom: 48px;
}
.social__item:not(:last-child) {
    margin-right: 10px;
    border-right: #21212133;
}

.social__link {
color: #2196F3;
font-family: variables.$main-text;
font-weight: 500;
font-size: 18px;
line-height: calc(22/18);
@media  (min-width: 320px) and (max-width: 479px)  {
    font-size: 15px;
    line-height: calc(19/15);
    
}
}

  .vertical-line {
      display: inline-block;
      border-left: 1px solid #21212133;
      margin: 0 5px;
      height: 20px;
  }

